* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.whole{
  align: center;
  padding-bottom: 20px;
}

.logo{
  width: 147px;
  position: relative;
  top: 30px;
  left: 109px;
}

header {
  background-color: #fcdb00;
  top: -542px;
  left: 737px;
}

nav a {

  color: #000000;
  display: inline-block;
  text-align: right;
  padding: 1em;
  text-decoration: none;
  position: relative;
  left: 679px;
  top: -25px;
  font-size: 21px;
  font-family: serif;
   font-weight: 400
}

.banner {
  background-color: #fcdb00;
  width: 197vh;
  height: 87vh;
}

.content{
  position: relative;
  top: 46px;
  left: 16px;
}
section h1 {
  position: relative;
  left: 109px;
  top: 32px;
  font-family: serif;
  font-size: 24px;
}

h5 {
    position: relative;
    top: 39px;
    left: 109px;
    font-family: serif;
    font-size: 100;
    font-size: medium;
    font-weight: 500;
}

p {
  position: relative;
  top: 62px;
  left: 109px;
  width: 339px;
  font-family: serif;
  }


div.icons {
  position: relative;
  top: 15px;

}

.apple {
  width: 42px;
  height: 33px;
  position: relative;
  left: 115px;
  top: 156px;
}

.android {
    width: 42px;
    height: 35px;
    position: relative;
    left: 115px;
    top: 159px;
}

.windows {
    width: 42px;
    height: 35px;
    position: relative;
    left: 115px;
    top: 162px;
}

.mid-area {
  font-family: serif;
  text-align: center;
  position: relative;
  top: 41px;
  font-weight: 600;
  font-size: 24px;
  height: 95vh;
}

.wrapper {
  text-align: center;
}

.features {
  display: inline-block;
  position: relative;
  left: 5px;
  top: 13px;
  width: 349px;
  font-weight: 100;
  font-size: 15px;
}


.upper-left-1 {
  float: left;
  width: 33.33%;
  height: 280px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  top: 21px;
}

.container {
  padding-left: 30px;
  padding-right: 125px;
}

.respon {
  position: relative;
  top: 62px;
  left: 109px;
  width: 144px;
  font-family: serif;
  font-size: 15px;
  font-weight: 100;
  position: relative;
  top: 8px;
  left: 81px;
}

.heading-1 {
  position: relative;
  left: 6px;
  top: -7px;
}

.upper-center-1 {
  float: left;
  width: 33.33%;
  height: 280px;
  position: relative;
  left: 35px;
}

.upper-right-1 {
  float: right;
  width: 33.33%;
  height: 280px;
}

.layered-p {
  position: relative;
  top: 62px;
  left: 109px;
  width: 186px;
  font-family: serif;
  font-size: 15px;
  font-weight: 100;
  position: relative;
  top: 67px;
  left: 99px;
}

.heading-2 {
  position: relative;
  left: -9px;
  top: 49px;
}

.heading-3 {
  position: relative;
  left: 28px;
  top: 49px;
}

.fa-p {
  position: relative;
  top: 62px;
  left: 76px;
  width: 247px;
  font-family: serif;
  font-size: 15px;
  font-weight: 100;
  position: relative;
  top: 70px;
  left: 125px;
}

img {
  position: relative;
  top: -175px;
  left: 672px;
  margin-top: 20px;
}

.responsive {
  position: relative;
  top: 45px;
  left: -85px;
}

.layered {
  position: relative;
  top: 99px;
  left: -113px;
}

.fa {
  position: relative;
  left: -78px;
  top: 89px;
}

.lower-left-2 {
  float: left;
  width: 33.33%;
  height: 280px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  left: 38px;
}

.free-download {
  position: relative;
  left: -9px;
  top: -50px;
}

.free-p {
  position: relative;
  top: 62px;
  left: 109px;
  width: 144px;
  font-family: serif;
  font-size: 15px;
  font-weight: 100;
  position: relative;
  top: -34px;
  left: 81px;
}

.free {
  position: relative;
  top: 1px;
  left: -106px;
}

.lower-center-2 {
  float: left;
  width: 33.33%;
  height: 280px;
  /* background-color: red; */
  position: relative;
  top: -22px;
  left: -49px;
}

.heading-5 {
  position: relative;
  left: 28px;
  top: 49px;
}

.code-p {
  position: relative;
  top: 62px;
  left: 76px;
  width: 247px;
  font-family: serif;
  font-size: 15px;
  font-weight: 100;
  position: relative;
  top: 70px;
  left: 125px;
}

.code {
  position: relative;
  left: -80px;
  top: 86px;
}

.lower-right-2 {
  float: right;
  width: 33.33%;
  height: 280px;
  position: relative;
  left: -81px;
  top: -48px;
}

.heading-6 {
  position: relative;
  left: 28px;
  top: 49px;
}

.temps-p {
  position: relative;
  top: 62px;
  left: 76px;
  width: 247px;
  font-family: serif;
  font-size: 15px;
  font-weight: 100;
  position: relative;
  top: 70px;
  left: 125px;
}

.e-temps {
  position: relative;
  top: 89px;
  left: -89px;
}

footer {
  background: black;
  height: 90vh;
}

h4 {
  color: #fcdb00;
  font-size: 23px;
  font-family: serif;
  position: relative;
  left: 526px;
}

.contact {
  font-family: serif;
  font-size: 15px;
  font-weight: 100;
  color: #ffffff;
  position: relative;
  left: 500px;
  top: 12px;
  width: 289px;
}

.input {
  position: relative;
  left: 430px;
  top: 40px;
  width: 400px;
  height: 32px;
  border-radius: 4px;
}

.submit {
  position: relative;
  left: 439px;
  top: 41px;
  width: 60px;
  height: 32px;
  border-radius: 4px;
  background-color: #fcdb00;
}

.icons {
  position: relative;
  top: 36px;
  left: 61px;
  padding: 1em;
}

.fb-icon {
  position: relative;
  top: 51px;
  left: 500px;
  width: 31px;
}

.twitter-icon {
  position: relative;
  top: 51px;
  width: 35px;
  left: 507px;
}

.google-icon {
  position: relative;
  top: 51px;
  width: 31px;
  left: 514px;
}

.pinterest-icon {
  position: relative;
  top: 51px;
  width: 32px;
  left: 520px;
}

address {
  display: block;
  font-style: italic;
  color: white;
  position: relative;
  top: 97px;
  left: 247px;
}

.list {
  display: block;
  color: white;
  position: relative;
  top: 19px;
  left: 405px;
}


.list-2{
  display: block;
    color: white;
    position: relative;
    top: -40px;
    left: 511px;
  }


.list-3 {
    display: block;
    color: white;
    position: relative;
    top: -112px;
    left: 590px;
  }

.list-4 {
    display: block;
    color: white;
    position: relative;
    top: -165px;
    left: 691px;
}
.closer{
  position: relative;
  left: 218px;
  top: -21px;
  padding: 1em;
}

.footer-content {
  position: relative;
  top: 57px;
}
