* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.whole{
  align: center;
}

.logo{
  width: 147px;
  position: relative;
  top: 30px;
  left: 109px;
}

header {
  background-color: #fcdb00;
  top: -542px;
  left: 737px;
}

nav a {

  color: #000000;
  display: inline-block;
  text-align: right;
  padding: 1em;
  text-decoration: none;
  position: relative;
  left: 679px;
  top: -25px;
  font-size: 21px;
  font-family: serif;
   font-weight: 400
}

.banner {
  background-color: #fcdb00;
  width: 197vh;
  height: 87vh;
}

.content{
  position: relative;
  top: 46px;
  left: 16px;
}
section h1 {
  position: relative;
  left: 109px;
  top: 32px;
  font-family: serif;
  font-size: 24px;
}

h5 {
    position: relative;
    top: 39px;
    left: 109px;
    font-family: serif;
    font-size: 100;
    font-size: medium;
    font-weight: 500;
}
.container {
  padding-left: 30px;
  padding-right: 125px;
}

.respon {
  position: relative;
  top: 62px;
  left: 109px;
  width: 144px;
  font-family: serif;
  font-size: 15px;
  font-weight: 100;
  position: relative;
  top: 8px;
  left: 81px;
}

.heading-1 {
  position: relative;
  left: 6px;
  top: -7px;
}
