* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.whole{
  align: center;
}

.logo{
  width: 147px;
  position: relative;
  top: 30px;
  left: 109px;
}

header {
  background-color: #fcdb00;
  top: -542px;
  left: 737px;
}

nav a {

  color: #000000;
  display: inline-block;
  text-align: right;
  padding: 1em;
  text-decoration: none;
  position: relative;
  left: 679px;
  top: -25px;
  font-size: 21px;
  font-family: serif;
   font-weight: 400
}

.banner {
  background-color: #fcdb00;
  width: 197vh;
  height: 87vh;
}

.content{
  position: relative;
  top: 46px;
  left: 16px;
}
section h1 {
  position: relative;
  left: 109px;
  top: 32px;
  font-family: serif;
  font-size: 24px;
}

h5 {
    position: relative;
    top: 39px;
    left: 109px;
    font-family: serif;
    font-size: 100;
    font-size: medium;
    font-weight: 500;
}

p {
  position: relative;
  top: 62px;
  left: 109px;
  width: 339px;
  font-family: serif;
  }

p {
  position: relative;
  top: 62px;
  left: 109px;
  width: 339px;
  font-family: serif;
  }

div.icons {
  position: relative;
  top: 15px;

}

.apple {
  width: 42px;
  height: 35px;
  position: relative;
  left: 115px;
  top: 163px;
}

.android {
  width: 42px;
  height: 35px;
  position: relative;
  left: 115px;
  top: 163px;
}

.windows {
  width: 42px;
  height: 35px;
  position: relative;
  left: 115px;
  top: 163px;
}

.mid-area {
  font-family: serif;
  text-align: center;
  position: relative;
  top: 41px;
  font-weight: 600;
  font-size: 24px;
  height: 95vh;
}

.wrapper {
  text-align: center;
}

.features {
  display: inline-block;
  position: relative;
  left: 5px;
  top: 13px;
  width: 349px;
  font-weight: 100;
  font-size: 15px;
}


.upper-left-1 {
  float: left;
  width: 33.33%;
  height: 280px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  top: 21px;
}
